.email {
    margin: 0px;
    background-color: rgb(121,207,181);
}
hr {
    border: 0px;
    border-top: 3px solid rgb(121,207,181);
}
h2 {
    text-align: center;
    padding: 5px;
    margin: 0px;
}
.body {
    background-color:rgba(13,151,109,1);
    background-image: url('cat_green.png');
    background-repeat: no-repeat;
    background-size: 8%;
    background-attachment: fixed;
    background-position: bottom  right; 
    
    
}
.name {

    text-align: center;
    
    margin: 15px;

}
.Card {
    width: 300px;
    border: 3px solid rgb(121,207,181);
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px;
    position: absolute;
    top: 25%;
    right: 40%;
    background-color:rgba(13,151,109,1)
    
}
.cardContent {
    padding: 0px;
}
.cardText {
    margin-bottom: 10px;
}
.link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    
}
.git {
    border-radius: 50%;
    border-color: rgb(121,207,181);
    border-width: 8px;
    border-style: solid;
    opacity:1;
}
#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 10px rgba(0,0,0,0.33);

}